UCSD_USERNAME=
UCSD_PASSWORD=
#UCSDProtected swithched to 5ghz so it no longer works, use NON_ENTERPRISE_WIFI
WIFI_SSID=
NON_ENTERPRISE_WIFI_PASSWORD=
# IF you have a # in your password, enslose it in '' or ""
MQTT_BROKER=broker.emqx.io
MQTT_CLIENT_ID=camera
MQTT_TOPIC=robocar